@import './var';

body {
    background-color: $bg_color_1;
}

.header {
    background-image: url($url);
}

.container {
    border-top: 4px solid #41c8ec;
    background-color: $bg_color_2;
    height: 550px;
    width: 500px;
    @include display(block);
    padding: 10px;
    font-family: quickstand;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}

.c1 {
    background-color: #3fd28b;
    text-align: center;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    @include display(block);
    padding: 5px;
    border-radius: 4px;
}

.footer {
    background-color: #e1e1e0;
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    text-align: center;
    gap: 5px;

}

.info{
    @include display(flex);
    text-indent: 10px;
    justify-content: center;
   
    bottom: 50px;
    width: 100%;
    color: rgb(12, 84, 12);
}

#footer_logo{
    height: 50px;
    width: 100px;
}
#copyright{
    text-indent: 20px;
    margin: auto 0 auto 0;
}

@font-face {
    font-family: quickstand;
    src: url("Quicksand font 1\static\Quicksand-Bold.ttf");
}